**/*.log
**/*.ncb
**/*.pdb
**/*.suo
**/*.tokens
**/*.user
**/*Parser.Constants.cs
**/*Resources*/Text/*.cs
**/*Resources*/Text/*.resx
**/*Resources*/Text/Resx/**
**/*sdf
**/GeneratedGrammar/*.g
**/_ReSharper\**
*.cto
*.ctsym
*.pyc
*.resources.dll
.idea/
.svn
.vs
/sh.exe.stackdump
Common/Bin/
Common/Bin/Test/*
Common/Setup/
Common/Src/Setup/BuildTool/Common/Bin/*
Common/Src/Setup/Tools/dbForgeToolbox/setup/*.exe
Builds/
Debug/
Debug64/
Release/
Release64/
Input/
Output/
Output/*.exe
TestResults/
GeneratedScripts/*.sql
MySql/Src/DataCompare/App.config
MySql/Src/DataCompare/Console/App.config
MySql/Src/DataGenerator/App.config
MySql/Src/DataGenerator/Console/App.config
MySql/Src/LanguageService/MariaDB/MariaDBParser.Constants.cs
MySql/Src/LanguageService/MariaDB/MariaDBParser.cs
MySql/Src/LanguageService/MySql/MySqlParser.Constants.cs
MySql/Src/LanguageService/MySql/MySqlParser.cs
MySql/Src/LanguageService/MySqlTokens.cs
MySql/Src/MySqlDocumenter/App.config
MySql/Src/MySqlDocumenter/Console/App.config
MySql/Src/QueryBuilder/App.config
MySql/Src/SchemaCompare/App.config
MySql/Src/SchemaCompare/Console/App.config
MySql/Src/Studio/App.config
MySql/Src/Studio/Console/App.config
MySql/Templates/*
Oracle/Src/DataCompare/App.config
Oracle/Src/DataCompare/Console/App.config
Oracle/Src/DataGenerator/App.config
Oracle/Src/DataGenerator/Console/App.config
Oracle/Src/LanguageService/OracleParser.Constants.cs
Oracle/Src/LanguageService/OracleParser.cs
Oracle/Src/LanguageService/OracleTokens.cs
Oracle/Src/OracleDocumenter/App.config
Oracle/Src/OracleDocumenter/Console/App.config
Oracle/Src/SchemaCompare/App.config
Oracle/Src/SchemaCompare/Console/App.config
Oracle/Src/Studio/App.config
Oracle/Src/Studio/Console/App.config
PostgreSql/Src/DataCompare/App.config
PostgreSql/Src/DataCompare/Console/App.config
PostgreSql/Src/DataGenerator/App.config
PostgreSql/Src/DataGenerator/Console/App.config
PostgreSql/Src/LanguageService/Parser/PgSqlParser.cs
PostgreSql/Src/LanguageService/Parser/PgSqlTokens.cs
PostgreSql/Src/LanguageService/Parser/PlPgSqlParser.cs
PostgreSql/Src/LanguageService/Parser/RedShiftPlParser.cs
PostgreSql/Src/LanguageService/Parser/RedShiftSqlParser.cs
PostgreSql/Src/SchemaCompare/App.config
PostgreSql/Src/SchemaCompare/Console/App.config
PostgreSql/Src/Studio/App.config
PostgreSql/Src/Studio/Console/App.config
SqlServer/Src/DataCompare/App.config
SqlServer/Src/DataCompare/Console/App.config
SqlServer/Src/DataGenerator/App.config
SqlServer/Src/DataGenerator/Console/App.config
SqlServer/Src/Integration/IndexManager/App.config
SqlServer/Src/Integration/IndexManager/CommandLine/App.config
SqlServer/Src/Integration/SqlDataPump/App.config
SqlServer/Src/Integration/SqlDataPump/CommandLine/App.config
SqlServer/Src/LanguageService/SqlServerParser.Constants.cs
SqlServer/Src/LanguageService/SqlServerParser.cs
SqlServer/Src/LanguageService/SqlServerTokens.cs
SqlServer/Src/Parser/SqlServerParser.Classes.cs
SqlServer/Src/Parser/SqlServerParser.Constants.cs
SqlServer/Src/Parser/SqlServerParser.cs
SqlServer/Src/Parser/SqlServerParserBaseListener.cs
SqlServer/Src/Parser/SqlServerParserBaseVisitor.cs
SqlServer/Src/Parser/SqlServerParserListener.cs
SqlServer/Src/Parser/SqlServerParserVisitor.cs
SqlServer/Src/QueryBuilder/App.config
SqlServer/Src/SchemaCompare/App.config
SqlServer/Src/SchemaCompare/Console/App.config
SqlServer/Src/SqlComplete.AddIn/Satellite/Debug/
SqlServer/Src/SqlComplete.AddIn/Satellite/Standard/
SqlServer/Src/SqlComplete/Console/App.config
SqlServer/Src/SqlDocumenter/App.config
SqlServer/Src/SqlDocumenter/Console/App.config
SqlServer/Src/Studio/App.config
SqlServer/Src/Studio/Console/App.config
SqlServer/Src/TestSupport/Console/App.config
SqlServer/Src/TransactionLog/CommandLine/App.config
SqlServer/Tests/UnitTest/App.config
SqlServer/Tests/UnitTest/app.config
Src/Resources/*.cs
Src/Resources/*.resx
Vs/SatelliteDll/Debug/*.*
__pycache__/
bin/
editions.h
obj/
report.txt
/.project
